/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


:root:has(#theme-CustomCSSforFx[cssforfx-colors="darker-one"])[lwtheme][-moz-lwtheme]-brighttext:not([style*='--lwt-header-image']) {
	#navigator-toolbox #TabsToolbar,
	#navigator-toolbox #nav-bar,
	#navigator-toolbox toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar) {
	  appearance: none !important;
	  background: black !important;
	}

	#navigator-toolbox #TabsToolbar .tabbrowser-tab .tab-content[selected="true"] {
	  background-image: linear-gradient(transparent,black,black) !important;
	}
}

@media (-moz-content-prefers-color-scheme: dark) {
	:root:has(#theme-CustomCSSforFx[cssforfx-colors="darker-one"])[lwtheme]:not([style*='--lwt-header-image']) {
		#navigator-toolbox #TabsToolbar,
		#navigator-toolbox #nav-bar,
		#navigator-toolbox toolbar:not(#TabsToolbar):not(#toolbar-menubar):not(#nav-bar) {
		  appearance: none !important;
		  background: black !important;
		}

		#navigator-toolbox #TabsToolbar .tabbrowser-tab .tab-content[selected="true"] {
		  background-image: linear-gradient(transparent,black,black) !important;
		}
	}
}
